.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  height: 100vh;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-sub-title {
  font-size: 1.25em;
}

.App-intro {
  font-size: large;
  padding: 0 1em 0 1em;
}

.footer {
  margin-top: auto;
  padding: 1em;
  color: gray;
}

.footer a {
  color: rgb(158, 158, 158);
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
